.catalog-desc{
  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }
  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.catalog-desc__title{
  color: @black;

  .bigText();

  text-transform: uppercase;
  text-align: center;

  margin-top: 37px;
}

.catalog-desc__text{
  color: @dark-grey;

  .smallText();

  text-align: center;
  text-transform: uppercase;

  margin-bottom: 25px;
}
