
.complementaries__list{
  position: relative;
  margin-top: 25px;
}

.complementaries__title {

  color: @black;

  text-transform: uppercase;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  margin: 0;
  margin-left: 30px;
  padding-top: 10px;
}
.complementaries__text {

  color: @black;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;


  text-transform: uppercase;

  margin: 0;
  margin-left: 30px;
  margin-top:  16px;
  margin-bottom: 33px;
}

.complementaries__icon{
  width: 39px;
  height: 37px;

  position: absolute;
  left: 19px;
}
