
.cta {

  @media (min-width: @tablet-width) {
    width: @tablet-width;

  }
  @media (min-width: @desktop-width) {
    width: @desktop-width;

  }
}

.cta__title{

  .bigText();

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;

  margin-top: 38px;
}

.cta__text{

  color: @dark-grey;

  .smallText();

  text-align: center;
  text-transform: uppercase;
}

.cta__button{
  color: @white;
  background-color: @blue;

  .bigText();

  text-align: center;
  text-transform: uppercase;

  border: none;

  padding: 16px 49px;
  margin-top: 32px;
  margin-bottom: 49px;
  margin-left: 18px;

  @media (min-width: @tablet-width) {
    width: 458px;
    transform: translate(35%);
  }
  @media (min-width: @tablet-width) {

    margin-left: 0;
    transform: translate(85%);

  }
}

