
.desc {
  margin-top: 32px;
  position: relative;
  width: @mobile-width;

  &::after {
    position: absolute;
    content: "";
    background-image: url(../img/intro-triangle.svg);
    height: 70px;
    width: 368px;
    bottom: -20px;


    @media (min-width: @tablet-width) {
      display: none;
    }

  }

  @media(min-width: @tablet-width) {

   width: @tablet-width;

  }

  @media(min-width: @desktop-width) {

    width: @desktop-width;


  }
}

.desc__title {

  color: @black;
  text-align: center;
  text-transform: uppercase;

  .bigText();

  margin: 0;
}

.desc__text {

  .smallText();

  text-align: center;
  text-transform: uppercase;

  margin: 0;
  margin-top: 35px;

}

.desc__br-mobile {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
