
.desc {
  margin-top: 32px;
}

.desc__title {

  color: @black;
  text-align: center;
  text-transform: uppercase;

  .bigText();

  margin: 0;
}

.desc__text {

  .smallText();

  text-align: center;
  text-transform: uppercase;

  margin: 0;
  margin-top: 35px;

}

