.emotions{
  margin-top: 24px;

}

.emotions__title{

  .bigText();

  text-align: center;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.emotions__text{
  border: none;
  background-color: #f2f2f2;

  margin-bottom: 56px;

}

.emotions__button{
  color: @white;
  background-color: @blue;

  .bigText();

  text-align: center;
  text-transform: uppercase;

  padding: 16px 49px;
  border: none;
}

.emotions__obligatory{
  color: rgba(51, 51, 51, 0.6);

  .smallText();

  text-align: center;
  text-transform: uppercase;


}
