.emotions{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 24px;


  position: relative;
  @media (min-width: @tablet-width) {
    width: @tablet-width;

  }
  @media (min-width: @desktop-width) {
    width: @desktop-width;
    display: flex;
    justify-content: center;

  }

  &::before {
    @media (min-width: @tablet-width) {
      position: absolute;
      content: "";
      background-image: url(../img/small-divider.svg);
      height: 1px;
      width: 123px;
      top: 35px;
      right: 60px;
    }

    @media (min-width: @desktop-width) {
      width: 280px;
    }
  }

  &::after {

    @media (min-width: @tablet-width) {
      position: absolute;
      content: "";
      background-image: url(../img/small-divider.svg);
      height: 1px;
      width: 123px;
      top: 35px;
      left: 60px;
    }

    @media (min-width: @desktop-width) {
      width: 280px;
    }
  }
}

.emotions__title{

  .bigText();

  text-align: center;
  text-transform: uppercase;

  margin-top: 24px;
  margin-bottom: 20px;
}

.emotions__text{
  border: none;
  background-color: #f2f2f2;
  width: 279px;
  height: 150px;
  margin-bottom: 56px;
  padding-bottom: 80px;
  padding-left: 16px;

  @media (min-width: @tablet-width) {
    width:  648px;
    height: 160px;

  }
  @media (min-width: @desktop-width) {
    width:  768px;

  }
}

.emotions__button{
  color: @white;
  background-color: @blue;

  .bigText();

  text-align: center;
  text-transform: uppercase;

  padding: 16px 49px;
  border: none;

  @media (min-width: @tablet-width) {

  }

  &:link, &:visited {
    color: @white;
    background-color: @blue;
  }

  &:hover, &:focus {
    color: @white;
    background-color: #669EC0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496BD;;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.emotions__obligatory{
  color: rgba(51, 51, 51, 0.6);

  .smallText();

  text-align: center;
  text-transform: uppercase;

  ;

  @media (min-width: @tablet-width) {
    margin-left: auto;
    margin-top: 20px;
  }

}

.emotions__obligatory-text{
  margin: 0;
  float: right;
}

.emotions__send{
  @media (min-width: @tablet-width) {
    display: flex;
    gap: 132px;
  }
}

.emotions__text::placeholder {


  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  display: flex;
  flex-wrap: wrap;

  color: rgba(0, 0, 0, 0.3);

  @media (min-width: @tablet-width) {
    padding-left: 16px;
  }
}

