.features-highlighted {
  background-color: @blue;
  margin-top: 30px;

}

.features-highlighted__title {

  color: @white;

  text-align: center;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;


  padding-top: 33px;
  margin: 0;

}

.features-highlighted__img {
  margin-top: 40px;
}

.features-highlighted__num {
  color: @white;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  margin: 0;
  margin-top: 11px;
}

.features-highlighted__text {
  color: @white;


  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  text-align: center;
  text-transform: uppercase;

  margin: 0;
  margin-top: 17px;


}
