.footer {
  position: relative;
  padding-top: 41px;

  @media (min-width: @tablet-width) {

    padding: 36px 60px;
    min-height: 120px;
  }
}

.footer__wrapper {
  @media (min-width: @tablet-width) {
    gap: 40px;
  }
}

.footer__hashtag {
  color: @black;

  .bigText();

  text-align: center;
  text-transform: uppercase;

  margin: 0;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 0;

  @media (min-width: @tablet-width) {

    margin: 0;
  }
}

.footer__item {
  background-color: @blue;
  width: 48px;
  height: 48px;

  &:link,
  &:visited {
    background-color: @blue;
  }

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.footer__text {
  color: @black;

  .smallText();

  text-align: center;
  text-transform: uppercase;

  margin: 0;
  margin-right: 12.5px;

  @media (min-width: @desktop-width) {
    margin-right: 12px;
  }
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.footer__social {
  width: 48px;
  height: 48px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  &:active {
    opacity: 0.3;
  }
}

.footer__link:link p,
.footer__link:visited p {
  color: @black;
}

.footer__link:hover p,
.footer__link:focus p {
  color: #81b3d2;
}

.footer__link:active p {
  color: #b3b3b3;
}

.footer__link:link svg,
.footer__link:visited svg {
  fill: @black;
}

.footer__link:hover svg,
.footer__link:focus svg {
  fill: #81b3d2;
}

.footer__link:active svg {
  fill: #b3b3b3;
}
