.footer {
  position: relative;
  @media (min-width: @tablet-width) {

    width: @tablet-width;
    margin: auto;
    margin-top: 36px;

  }
  @media (min-width: @desktop-width) {
    min-height: 120px;
    width: @desktop-width;
    margin: auto;


  }
}

.footer__hashtag {
  color: @black;

  .bigText();

  text-transform: uppercase;
  text-align: center;

  margin: 0;
  @media(min-width: @tablet-width){
    position: absolute;
    left: 60px;

  }
  @media(min-width: @desktop-width){
    position: absolute;
    left: 120px;
    top: 47px
  }
}

.footer__list {


  @media (min-width: @tablet-width) {
    width: 156px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
    position: absolute;
    left: 200px;


  }
  @media (min-width: @desktop-width) {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
    left: 525px;
    top: 16px;
    bottom: 36px;

  }
}

.footer__item {
  background-color: @blue;
  width: 48px;
  height: 48px;
  display: inline-block;

}



.footer__text {
  color: @black;

  .smallText();

  text-align: center;
  text-transform: uppercase;

  margin: 0;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 118px;
    top: 4px;
  }
  @media (min-width: @desktop-width) {
    position: absolute;
    right: 118px;
    top: 50px
  }
}

.footer__link{
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: @tablet-width) {
    position: absolute;
    left: auto;

    right: 61px;
  }
  @media (min-width: @desktop-width) {
    position: absolute;
    left: auto;
    top: 43px;

  }
}

.footer-social {
  display: flex;
  justify-self: center;
  align-self: center;
}
