.footer {
  position: relative;
  padding-top: 41px;



  @media (min-width: @tablet-width) {

    padding: 36px 60px;
    min-height: 120px;


  }
  @media (min-width: @desktop-width) {


  }
}

.footer__wrapper {



  @media (min-width: @tablet-width) {
    gap: 40px;
  }
}

.footer__hashtag {
  color: @black;

  .bigText();

  text-align: center;
  text-transform: uppercase;


  margin: 0;
  @media(min-width: @tablet-width){


  }
  @media(min-width: @desktop-width){



  }
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 0;

  @media (min-width: @tablet-width) {

    margin: 0;


  }
  @media (min-width: @desktop-width) {


  }
}

.footer__item {
  background-color: @blue;
  width: 48px;
  height: 48px;

 &:link, &:visited {
  background-color: @blue;
 }
 &:hover, &:focus {
  background-color: #669EC0;
 }
 &:active {
  background-color: #5496BD;
 }
}



.footer__text {
  color: @black;

  .smallText();

  text-align: center;
  text-transform: uppercase;

  margin: 0;
  margin-right: 12.5px;

  &:link, &:visited {
    color: @black;
   }
   &:hover, &:focus {
    color: #81B3D2;
   }
   &:active {
    color: #B3B3B3;
   }

  @media (min-width: @tablet-width) {
    // position: absolute;
    // right: 200px;
    // top: 49px;
    // width: 30px;

  }
  @media (min-width: @desktop-width) {
    // position: absolute;
    // right: 250px;
    margin-right: 12px;
  }
}

.footer__link{
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: @tablet-width) {

  }
  @media (min-width: @desktop-width) {


  }
}

.footer__social {
  width: 48px;
  height: 48px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  &:active {
    opacity: 0.3;
   }
}

