.main-header {
  // width: 320px;
  min-height: 56px;



 @media (min-width: @tablet-width) {


 }
 @media (min-width: @desktop-width) {
  // width: @desktop-width;
  // margin: auto;

 }
}


.main-header-nav__logo{
  position: absolute;
  left: 50%;
  z-index: 1;
  // top: 0;
  // margin-left: -92.5px;
  transform: translateX(-50%);


  @media(min-width: @tablet-width) {

    // left: 300px;

  }
  @media(min-width: @desktop-width) {
    // left: 490px;

  }

}


.main-header-nav__list{
  padding: 0;
  margin: 0;

  @media(min-width: @tablet-width){

    display: flex;
    justify-content: space-between;

    // padding-top: 18px;

  }
  @media(min-width: @desktop-width){




  }
}

.main-header-nav__item{


  width: @mobile-width;
  min-height: 55px;
  color: @white;

  background-color: @blue;

  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);



  &:link, &:visited {
    color: @white;
    background-color: @blue;
  }

  &:hover, &:focus {
      color: @white;
      background-color: #669EC0;

  }

  &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5496BD;
  }



  @media (min-width: @tablet-width) {
    // display: inline-block;
    width: 153px;

    background-color: @white;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    box-shadow: none;


    &:link, &:visited {
      color: @black;
      background-color: @white;

    }

    &:hover, &:focus {
      color: #81B3D2;
      background-color: @white;

    }

    &:active {
      color: @black;
      opacity: 0.3;
      background-color: @white;

    }

  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
  }


}

// .main-header-nav__item:first-child {
//   @media (min-width: @tablet-width) {
//     // margin-left: 50px;
//   }
//   @media (min-width: @desktop-width) {
//     margin-left: 0;
//   }
// }


.main-header-nav__item:nth-child(3){

  @media (min-width: @tablet-width) {

    // margin-left: 130px;
    margin-left: auto;
  }
  @media (min-width: @desktop-width) {
  //   margin-left: 200px;
  }

}

.main-header-nav__link{
  color: @white;
  font-size: 18px;
  line-height: 26px;

  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 21px;

    white-space: nowrap;
    color: @black;

    &:link, &:visited {
      color: @black;
    }
    &:hover, :focus {
      color: #81B3D2;
    }

    &:active {
      color: #B3B3B3;
    }

  }
}

.current{

  @media (min-width: @tablet-width) {

    color: #766357;
    &:link, &:visited {
      color: #766357;
    }
  }
}

