.main-header {
  min-height: 56px;
}

.main-header-nav__logo {
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}


.main-header-nav__list {
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {

    display: flex;
    justify-content: space-between;
  }
}

.main-header-nav__item {

  width: @mobile-width;
  min-height: 55px;
  color: @white;

  background-color: @blue;

  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:link,
  &:visited {
    color: @white;
    background-color: @blue;
  }

  &:hover,
  &:focus {
    color: @white;
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }

  @media (min-width: @tablet-width) {
    width: 153px;

    background-color: @white;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    box-shadow: none;

    &:link,
    &:visited {
      color: @black;
      background-color: @white;
    }

    &:hover,
    &:focus {
      color: #81b3d2;
      background-color: @white;
    }

    &:active {
      color: @black;
      opacity: 0.3;
      background-color: @white;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
  }
}

.main-header-nav__item:nth-child(3) {
  @media (min-width: @tablet-width) {
    margin-left: auto;
  }
}

.main-header-nav__link {
  color: @white;
  font-size: 18px;
  line-height: 26px;

  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 21px;

    white-space: nowrap;
    color: @black;

    &:link,
    &:visited {
      color: @black;
    }

    &:hover,
    :focus {
      color: #81b3d2;
    }

    &:active {
      color: #b3b3b3;
    }
  }
}

.current {
  @media (min-width: @tablet-width) {

    color: #766357;

    &:link,
    &:visited {
      color: #766357;
    }
  }
}
