.main-container__welcome{
  display: block;

  margin: 85px auto;

  height: 214px;
  @media(min-width: @tablet-width) {
    display: none;
  }
}


.main-container__img {
  width: 320px;
  min-height: 389px;
  background-image: url(../img/index-back-mobile.jpg);
  background-color: #000000;
  color: white;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  @media(min-width: @tablet-width) {

    min-height: 518px;
    width: 100%;
    background-image: url(../img/index-back-tablet.jpg);

  }

  @media(min-width: @desktop-width) {

    background-image: url(../img/index-back-desktop.jpg);

  }

  @media (min-resolution: 2ddpx) {
    background-image: url(../img/back-desktop@2px.jpg);
    background-size: 1338px auto;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url(../img/intro-triangle.svg);
    height: 57px;
    width: 320px;
    bottom: 0;

    @media(min-width: @tablet-width) {
      position: absolute;
      content: "";
      background-image: url(../img/intro-triangle-tablet.svg);
      height: 57px;
      width: 768px;
      bottom: 0;
    }

    @media(min-width: @desktop-width) {
      position: absolute;
      content: "";
      background-image: url(../img/intro-triangle-desktop.svg);
      height: 57px;
      width: @desktop-width;
      bottom: 0;
    }
  }


}


.main-container__welcome-tablet, .main-container__welcome-desktop {
  display: none;
}

.main-container__welcome-tablet{
  @media (min-width: @tablet-width){
    display: block;

    margin: 80px auto;

    height: 350px;
  }
  @media (min-width: @desktop-width){


  }

}

.main-container__welcome-desktop {
  @media (min-resolution: 2ddpx) {

    background-size: 1338px auto;
  }
}
