.map__img {
  @media (min-width: @tablet-width) {
    width: 768px;
    height: 350px;

  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.map__wrapper {
  position: relative;
}

.map__marker{
  position: absolute;
  left: 146px;
  top: 161px;

  @media (min-width: @tablet-width) {
    left: 370px;
  }
  @media (min-width: @desktop-width) {
    left: 586px;
  }
}
