.opinion{
  margin-top: 82px;
}

.opinion__title{

  .bigText();

  text-align: center;
  text-transform: uppercase;
}

.opinion__text{

  .smallText();

  text-align: center;
  text-transform: uppercase;

  margin-top: 24px;
}
