.photos {
  width: @mobile-width;
  @media (min-width: @tablet-width) {
    width: @tablet-width;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }

}


.photos__list{
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    // width: @tablet-width;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
  @media (min-width: @desktop-width) {

  }
}



.photo-card__img{
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.photo-card__img-tablet{
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.photo-card__img-desktop{
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
  @media (min-width: @desktop-width) {
    display: block;
  }
}

.grid-template__photos{
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: @desktop-width) {

    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo-card__title{
  color: @black;

  .bigText();

  text-transform: uppercase;
}

.photo-card__author{
  color: @dark-grey;


  .smallText();

  text-transform: capitalize;

  margin: 0;
}

.photo-card__number-likes{
  color: @black;

  .bigText();


}
