.video {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 28px;

  position: relative;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }
  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.video__img{
  display: block;

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 500px;
  }
  @media (min-width: @desktop-width) {
    width: 800px;
  }
}


.video__title{
  color: @black;


 .bigText();

  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.video__text{

  .smallText();

  text-transform: uppercase;
  text-align: center;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding-bottom: 64px;
  }
}

.video__icon-play {
  position: absolute;
  top: 200px;
  left: 136px;

  @media (min-width: @tablet-width) {
    left: 360px;
    top: 455px;
  }
  @media (min-width: @desktop-width) {
    left: 575px;
    top: 450px;
  }
}

.video__br-mobile{

  @media (min-width: @tablet-width) {
    display: none;
  }
}
