.video {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 28px;

  position: relative;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }
  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.video__img{
  display: flex;

  @media (min-width: @tablet-width) {
    display: none;
  }
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.video__img-tablet{
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.video__img-desktop{
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
  @media (min-width: @desktop-width) {
    display: block;

  }
}

.video__title{
  color: @black;


 .bigText();

  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.video__text{

  .smallText();

  text-transform: uppercase;
  text-align: center;

  @media (min-width: @desktop-width) {
    padding-bottom: 64px;
  }
}

.video__icon-play {
  position: absolute;
  top: 200px;
  left: 136px;

  @media (min-width: @tablet-width) {
    left: 360px;
    top: 355px;
  }
  @media (min-width: @desktop-width) {
    left: 575px;
    top: 420px;
  }
}

.video__br-mobile{

  @media (min-width: @tablet-width) {
    display: none;
  }
}
