.emotions{
  margin-top: 24px;

}

.emotions__title{
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.emotions__text{
  border: none;
  background-color: #f2f2f2;

  margin-bottom: 56px;

}

.emotions__button{
  color: @white;
  background-color: @blue;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;

  padding: 16px 49px;
  border: none;
}

.emotions__obligatory{
  color: rgba(51, 51, 51, 0.6);

  font-weight: 400;
  font-size: 12px;
  line-height: 21px;

  text-align: center;
  text-transform: uppercase;


}
