*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  min-width: @pw;
  font-family: "PT Sans", sans-serif;

}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 320px;
  margin: 0 auto;



  @media (min-width: @tablet-width) {
    width: 648px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  @media (min-width: @desktop-width) {
    width: 988px

  }
}

.page__wrapper{
  max-width: @mobile-width;

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
    margin: 0 auto;
    box-shadow: 0 0 4px #000000;



  }
}


