.name-data__title{
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;
}

.name-data__description{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  text-transform: uppercase;
}

.name-data__name{
  border: none;
  background-color: #f2f2f2;
  padding: 16px;

  margin-bottom: 16px;
}
.name-data__surname{
  border: none;
  background-color: #f2f2f2;
  padding: 16px;

  margin-bottom: 16px;
}
.name-data__second-name{
  border: none;
  background-color: #f2f2f2;
  padding: 16px;
}
